* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: #000609;
  outline: none;
}
/* Centering the calculator */
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 46, 79, 0.981);
}
/* Calculator layout */
.calculator {
  background-color: #01060a;
  padding: 15px;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: grid;
  grid-template-columns: repeat(4, 70px);
}
/* Calculator screen */
input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff,
            inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 30px;
  color: rgb(70, 70, 70);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
/* Buttons */
button {
  height: 48px;
  width: 48px;
  background-color: #050d13;
  color: #ffffff;
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
  font-weight: 600;
}
/* Equal button */
.equal {
  width: 115px;
  border-radius: 40px;
  background-color: #968e91;
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
/* Click shadow */
button:active {
  box-shadow: rgba(50, 50, 93, 0) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* clr-button color */
#clr-white{
  background-color: #ffffff;
  color: black;
}
/* del-button color */
#del-red{
  background-color: red;
}
